<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../View/css/404.css">
</head>
<body>
    
    <section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <h1>Look like you're lost</h1>
    <p class="zoom-area">the page you are looking for not avaible!</p>
<div class="link-container">
  <a  href="?modUser=0" class="more-link">Go to home</a>
</div>
</body>
</html>