<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../View/css/reset.css">
    <link rel="stylesheet" href="../View/css/home.css">
    <title>ShoppingCart</title>
</head>
<body>
    <div class="center">
        <!-- <div style="height: 11rem;background-color: red;"></div> -->
        <!-- <div class="nav_signin">
            <div class="nav-li">
                <div class="nav-li_color">
                    <span class="nav-name">Loai Banh</span>
                    <i class="fa fa-angle-down nav-cropdown" aria-hidden="true"></i>
                </div>
                <ul class="nav-li_detail">
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">a</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">b</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">c</a></li>
                </ul>
            </div>   
            <div class="nav-li">
                <div class="nav-li_color">
                    <span class="nav-name">Loai Banh</span>
                    <i class="fa fa-angle-down nav-cropdown" aria-hidden="true"></i>
                </div>
                <ul class="nav-li_detail">
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">a</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">b</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">c</a></li>
                </ul>
            </div>   
            <div class="nav-li">
                <div class="nav-li_color">
                    <span class="nav-name">Loai Banh</span>
                    <i class="fa fa-angle-down nav-cropdown" aria-hidden="true"></i>
                </div>
                <ul class="nav-li_detail">
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">a</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">b</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">c</a></li>
                </ul>
            </div>   
            <div class="nav-li">
                <div class="nav-li_color">
                    <span class="nav-name">Loai Banh</span>
                    <i class="fa fa-angle-down nav-cropdown" aria-hidden="true"></i>
                </div>
                <ul class="nav-li_detail">
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">a</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">b</a></li>
                    <li class="nav-li_name"><a href="" class="nav-li_nameA">c</a></li>
                </ul>
            </div>   
    </div> -->
    
</body>
</html>