<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../View/css/reset.css">
    <link rel="stylesheet" href="../View/css/home.css">
    <title>Footer</title>
</head>
<body>    
    <div class="footer">       
        <div class="footer_list">
            <div class="footer_list-describe">
                <div class="footer_list-detail">
                    <div class="footer_list-logo">
                        <i class="fa fa-truck footer_list-truck" aria-hidden="true"></i>
                        <h2 class="footer_list-name">Nhận đặt hàng</h2>
                    </div>
                    <span class="footer_list-content">Thời gian ship tu 7h tới 22h hằng ngày</span>
                </div>
            </div>
            <div class="footer_list-describe">
                <div class="footer_list-detail">
                    <div class="footer_list-logo">
                        <i class="fa fa-cog footer_list-truck" aria-hidden="true"></i>
                        <h2 class="footer_list-name">100% không có chất bảo quản</h2>
                    </div>
                    <span class="footer_list-content">Đảm bảo tươi mới hàng ngày</span>
                </div>
            </div>
            <div class="footer_list-describe">
                <div class="footer_list-detail">
                    <div class="footer_list-logo">
                        <i class="fa fa-phone footer_list-truck" aria-hidden="true"></i>
                        <h2 class="footer_list-name">Đặt bánh online</h2>
                    </div>
                    <span class="footer_list-content">Tổng đài: 0702751033</span>
                </div>
            </div>
            <div class="footer_list-describe" style="border: none;">
                <div class="footer_list-detail">
                    <div class="footer_list-logo">
                        <i class="fa fa-volume-control-phone footer_list-truck" aria-hidden="true"></i>
                        <h2 class="footer_list-name">Hotline 24/7</h2>
                    </div>
                    <span class="footer_list-content">Tổng đài: 0944508367</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>